:root {
    --color-background: #f7f9fc;

    --color-text: #000;
    --color-white-text: #fff;
    --color-title: #333;

    --color-button-hover: #f0f0f0;   
    --color-button-active: #8c519277;  
 
    --color-border: #8b5192;      
    --color-button-background: #e7dada;  

    --color-button-edit: #4da6ff;
    --color-button-edit-active: #3385ff;
  
    --color-button-delete: #ff4d4d;
    --color-button-delete-active: #cc0000;
    
  }
  

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
